@import url('http://fonts.googleapis.com/css?family=Oswald:400,700');

@font-face {
    font-family: 'Oswald';
    src: url(http://fonts.googleapis.com/css?family=Oswald:400,700);
    font-style: normal;
    font-weight: normal;
}

button {
    font-size: 16px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(0,20,0,0.10);
    width: 120px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.panel {display: none;}

header {
    width: 95%;
    margin: 2.5%;
    min-height: 250px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: rgba(0,20,0,0.10);
}

header h1{
    font-size: 45px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 12px solid rgba(0,51,0,0.75);
}

header p{
    font-size: 16px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 150%;
}

header a{
    color: rgba(0,70,0,1);
    font-size: 16px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1px;
}

main {
    margin-left: 2.5%;
}

main h1 {
    color: rgba(0,0,0,0.75);
    font-size: 24px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 80%;
}

section {
    float: left;
    width: 76.9%;
    min-height: 600px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px 0px 0px 5px;
    padding: 15px;
}

section h1 {
    color: white;
    font-size: 18px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 150%;
}

section h2 {
    color: black;
    background-color: white;
    padding: 5px;
    font-size: 14px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 150%;
}

aside {
    float: right;
    margin-right: 2.5%;
    min-height: 600px;
    width: 20%;
    background-color: rgba(0,51,0,0.5);
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
}

aside h1 {
    color: white;
    font-size: 24px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 100%;
}

aside ul {
    color: white;
    font-size: 14px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 150%;

}

footer {
    display: inline-block;
    width: 100%;
    bottom: 0;
    margin-top: 2.5%;
    padding-right: 2.5%;
    background-color: rgba(0,20,0,0.75);
}

footer h2 {
    color: white;
    font-size: 16px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
}

footer p {
    text-align: right;
    color: white;
    font-size: 9px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 100%;
}

footer a{
    color: rgba(150,200,150,1);
}

